* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-color: #2A363B;
}
.mixingColor{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.cols{
    text-align: center;
    display: flex;
    height: 40vh;
}
.col{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.remove-btn{
    background-color: inherit;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.btns{
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btns__btn{
    background-color: #FECEA8;
    padding: 15px;
    font-size: 30px;
    border-radius: 10px;
    color: #2A363B;
}
.btns__btn:hover{
    background-color: #E84A5F;
    color: #2A363B;
    transition: 0.3s;
}
.color-code{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.color-code:hover{
    background-color: rgba(0, 0, 0, 0.15);
    transition: 0.3s
}
.mixingColor{
    background-color: white;
}

#mixingText{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#mixingText:hover{
    background-color: rgba(0, 0, 0, 0.15);
    transition: 0.3s
}